<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
<title>
    <p>Whatever you want</p>
</title>
</head>


<body>
<div id="app">
<h1>All I want is {{product}}</h1>
</div>
<div class="product-image">
<img :src="image">
</div>
<div class="product price">Price</div>

</body>
</html>
